# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: Wx API
    #description: 
    version: 0.1.0
servers:
    - url: https://xx.vipex.cc/
paths:
    /v1/Auth:
        get:
            tags:
                - Wx
            operationId: Wx_Auth
            parameters:
                - name: code
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            #security:
            #  - api_key:
            #    -  token
    /v1/UpContents:
        post:
            tags:
                - Wx
            operationId: Wx_UpContents
            requestBody:
                content:
                    application/json:
                        schema:
                            type: string
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/GetAvatarUrl/{openid}:
        get:
            tags:
                - Wx
            operationId: Wx_GetAvatarUrl
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: url
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/UpBusinessInfo/{openid}/{businessid}:
        get:
            tags:
                - Wx
            operationId: Wx_UpBusinessInfo
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: businessid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: name
                  in: query
                  schema:
                    type: string
                - name: num
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/GetBusinessInfo/{openid}:
        get:
            tags:
                - Wx
            operationId: Wx_GetBusinessInfo
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: entid
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/GetDetails/{openid}/{type}:
        get:
            tags:
                - Wx
            operationId: Wx_GetDetails
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: type
                  in: path
                  required: true
                  schema:
                    type: string
                - name: entid
                  in: query
                  schema:
                    type: string
                - name: id
                  in: query
                  description: string ordid = 13; string repid = 14;
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/GetOrder/{openid}:
        get:
            tags:
                - Wx
            operationId: Wx_GetOrder
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: entid
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
    /v1/GetCnts:
        post:
            tags:
                - Wx
            operationId: Wx_GetCnts
            parameters:
                - name: openid
                  in: query
                  schema:
                    type: string
                - name: entid
                  in: query
                  schema:
                    type: string
                - name: sig
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            #security:
            #  - api_key:
            #    -  token
    /v1/GetRepair/{openid}:
        get:
            tags:
                - Wx
            operationId: Wx_GetRepair
            parameters:
                - name: openid
                  in: path
                  required: true
                  schema:
                    type: string
                - name: entid
                  in: query
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WxResponse'
                #default:
                #    description: Default error response
                #    content:
                #        application/json:
                #            schema:
                #                $ref: '#/components/schemas/Status'
            security:
              - api_key:
                - token
components:
    #headers:
        #
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        WxResponse:
            type: object
            properties:
                errCode:
                    type: integer
                    format: int32
                data:
                    type: object
                errMsg:
                    type: string
    securitySchemes:
      api_key:
        type: apiKey
        in: header
        name: token
#security:
#    - petstore_auth:
#        - write:pets
tags:
    - name: Wx

